<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

{% extends 'base.html' %}
{% block content%}
    
    <h1>Login...</h1>
<hr>
<div class="form-group">
<form method="POST">
    {% csrf_token %}

    <div class="mb-3">
    <input type="text" class="form-control" name="username" placeholder="Username">
    </div>

    <div class="mb-3">
    <input type="password" class="form-control", name="password" placeholder="Password">
    </div>
    </br>
    <button class="btn btn-dark">Login</button>
</div>

Not Registered ? Sign Up <a href="/members/register/">Here</a>
</br>
</br>

<button type="button" class="btn btn-dark"><a href="{%url 'blog' %}">Back</a></button>

{%endblock%}
</body>

</html>